.menu {
    width: 270px;
    background-color: #fdfdfd;
    min-height: 100vh;
    position: fixed;
    transform: translateY(0px);
    left: 0;
    transition: all 0.5s;
    z-index: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none solid rgb(34, 34, 34);
    word-spacing: 0;
    box-sizing: border-box;
    border-right: solid 1px #e9ebf0;
    font-weight: 500; /* Medium font weight */

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    padding-bottom: 70px;
}

.site {
    margin-left: 270px;
    width: calc(100% - 270px);
    transition: all 0.50s;
}

.site .content {
    padding: 10px 5px;
}

.site.fechado {
    margin-left: 0px;
    width: 100%;
}

.menu.fechado {
    left: -270px;
}

.menu .logo {
    color: #fff;
    text-align: center;
    padding: 0px;
}

.logo-img {
    width: 100%;
    display: block;
    margin-top: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

}

.logo-img img {
    width: 100%;
    display: block;
    border-radius: 10px;

}




.menu .conteudo-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
}


.menu .conteudo-menu .item-menu {
    padding: 1px 0;
}

.menu .conteudo-menu .item-menu .link-menu {
    color: #545252;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;

}


.menu .conteudo-menu .item-menu .link-menu.active {
    color: #12b981; /* Keeping the same green for active state */
    background-color: #1a1e23; /* Darker background for active state */
}


.menu .conteudo-menu .item-menu .link-menu span {
    margin-left: 10px;
}

.menu .conteudo-menu .item-menu .link-menu:hover {
    color: #233bd9;
    background-color: #dadee7;
}

.menu .conteudo-menu .item-menu.subitem h3.link-menu::after {
    content: "\f0da";
    font-size: 20px;
    position: absolute;
    right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}

.menu .conteudo-menu .item-menu.subitem h3.link-menu.aberto::after {
    content: "\f0d7";
}

.menu .conteudo-menu .item-menu.sub {
    display: none;
}

.menu .conteudo-menu .item-menu.sub.aberto {
    display: block;

}

.menu .conteudo-menu li.item-menu {
    border-bottom: 1px solid #e9ebf0;
    border-top: 1px solid #e9ebf0;
    transition: all 0s ease 0s;
}

.menu .conteudo-menu .item-menu.sub li {
    padding-left: 0px;
    margin-bottom: 6px;
    font-size: 16px;
}

.menu .conteudo-menu .item-menu.sub li a.link-menu {
    font-size: 14px;
}


@media (max-width: 1060px) {
    .site {
        margin: 0 !important;
        width: 100% !important;
        transition: all 0.5s !important;
        z-index: 2 !important;
        position: relative !important;
    }

    .menu {
        z-index: 4 !important;
        width: 230px !important;
    }

}


.menu .logout{

    width: 100%;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    left: 0px;
    color: rgb(21, 20, 20);
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
    right: 0;
    padding: 10px 0;
    padding-left: 15px;
    display: block;
    margin-top: 10px; /* Spacing */
}

.menu .logout i {
    margin-right: 10px;
    opacity: 0.8; /* Making logout icon a bit transparent */
}

.menu .logout:hover{
    color: #d40c4f;
    background-color: #dadee7;
}

.menu .logout:hover i {
    opacity: 1; /* Full opacity on hover */
}

/* Adjusting Font Awesome Icons */
.menu .fa-solid {
    margin-right: 5px; /* Spacing icons from text */
    font-size: 16px; /* Adjusting icon size */
    opacity: 0.8; /* Making icons a bit transparent */
}

.menu .conteudo-menu .item-menu .link-menu:hover .fa-solid {
    opacity: 1; /* Full opacity on hover */
}

/* Submenu Arrow Changes */
.menu .conteudo-menu .item-menu.subitem h3.link-menu::after,
.menu .conteudo-menu .item-menu.subitem h3.link-menu.aberto::after {
    font-size: 18px; /* Increasing arrow size */
    top: 50%; /* Centering vertically */
    transform: translateY(-50%); /* Centering adjustment */
    transition: transform 0.3s ease; /* Transition for rotation */
}


.menu .conteudo-menu .register .link-menu{
    color: #545252;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    margin-bottom: 3px;
    font-family: "Source Sans Pro", sans-serif;
}

.menu .conteudo-menu .register .link-menu:hover {
    color: #233bd9;
    background-color: #dadee7;
}


.menu .conteudo-menu .list .link-menu{
    color: #545252;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    margin-bottom: 3px;
    font-family: "Source Sans Pro", sans-serif;
}

.menu .conteudo-menu .list .link-menu:hover {
    color: #233bd9;
    background-color: #dadee7;
}

.link-menu.emp {
    border-top: 1px solid #e9ebf0;
}
