/*
.tab-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

 */

.img {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.file-upload-label.remove-img-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-label.remove-img-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}


.provider-selector {
    width: 100%;
    max-width: 500px; /* Ajuste conforme necessário */
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.provider-selector .selector01 {
    width: 100%;
}

.provider-selector .d-flex {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: space-between;
}


.provider-selector .d-flex .form-control {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}

.provider-selector .d-flex:hover {
    background-color: #f0f0f0;
}

.provider-selector .d-flex:hover .form-control {
    color: #007bff;
}

.provider-selector .d-flex .form-control:focus {
    box-shadow: none;
}

.provider-selector .d-flex .form-control:disabled,
.provider-selector .d-flex .form-control[readonly] {
    background-color: transparent;
}

.provider-selector .d-flex .form-control.mb-0 {
    margin-bottom: 0 !important;
}

.provider-selector .d-flex svg {
    cursor: pointer;
}

.provider-selector .d-flex svg:hover {
    color: #c82333;
}



























